/*
 * Theme Information:*
 * Name: wast
 * Author: zyuq
 * Version: v0.4.3
 * Special thank to: xrdrsp
 */

 @font-face {
    font-family: 'Noto Sans SC';
    font-display: swap;
    src: url(extensions/fonts/NotoSC/NotoSansSC-VariableFont_wght.ttf) format('opentype');
}
@font-face {
    font-family: 'Noto Serif SC';
    font-display: swap;
    src: url(extensions/fonts/NotoSC/NotoSerifSC-VariableFont_wght.ttf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans JP';
    font-display: swap;
    src: url(extensions/fonts/NotoSC/NotoSansJP-VariableFont_wght.ttf) format('opentype');
}
@font-face {
    font-family: 'Noto Serif JP';
    font-display: swap;
    src: url(extensions/fonts/NotoSC/NotoSerifJP-VariableFont_wght.ttf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans';
    font-display: swap;
    src: url(extensions/fonts/NotoSans-VariableFont_wdth,wght.ttf) format('opentype');
}
@font-face {
    font-family: 'Noto Serif';
    font-display: swap;
    src: url(extensions/fonts/NotoSC/NotoSerif-VariableFont_wdth,wght.ttf) format('opentype');
}
@font-face {
    font-family: 'OpenSans';
    font-display: swap;
    src: url(extensions/fonts/OpenSans-VariableFont_wdth,wght.ttf) format('opentype');
}

body {
	padding-top:3.125rem;
	padding-right:20%;
	padding-left:20%;
	padding-bottom:0rem;
	word-break:hyphenate;
	background-color:#333333;
}

h1 {
	font-family: "Noto Serif", "Noto Serif SC", sans-serif;
	font-size:2.75rem;
	color:#EEEEEE;
	text-align:center;
	font-weight: 600;
}
h1l {
	font-family: "Noto Serif", "Noto Serif SC", sans-serif;
	font-size:2.75rem;
	color:#EEEEEE;
	font-weight: 600;
}
h2 {
	font-family: "Noto Sans", "Noto Sans SC", sans-serif;
	font-size:2rem;
	color:#EEEEEE;
	text-align:center;
	font-weight: 600;
}
h2l {
	font-family: "Noto Serif", "Noto Serif SC", sans-serif;
	font-size:2rem;
	color:#EEEEEE;
	text-align:center;
	font-weight: 600;
}
h3 {
	font-family: "Noto Sans", "Noto Sans SC", sans-serif;
	font-size:1.25rem;
	color:#EEEEEE;
	text-align:center;
}

p {
	font-family: "OpenSans", "Noto Sans SC", sans-serif;
	color:#EEEEEE;
	font-size:1.2rem;
	line-height: 1.85rem
}
p2 {
	font-family: "OpenSans", "Noto Sans SC", sans-serif;
	color:#EEEEEE;
	font-size:1.0625rem;
}
a:visited,a:link {
	font-family: "Noto Serif", "Noto Serif SC", sans-serif;
	color:#EEEEEE;
font-weight: 600;
	text-decoration: underline;
	font-size:1.2rem;
	line-height: 1.85rem
}

a:hover {
text-decoration: underline;
}
a:active {
text-decoration: underline;
}

li {
	font-family:"Noto Serif SC"
	color:#EEEEEE;
	font-size:1.25rem;
}

blockquote {
	font-family:"Noto Serif SC",;
	color:#EEEEEE;
	font-size:1.0625rem;
}

.mask {
	background-color:#252525;
	color:#252525;
	transition:color 0.5s;
}
.mask:hover {
	color:#EEEEEE;
}

code {
    font-family: "Courier New", "Noto Sans SC";
    color: #CCCCCC;
}

table, th, td {
	font-family: "Noto Serif", "Noto Serif SC", sans-serif;
    border-collapse: collapse;
	margin: 0 auto;
    color: #EEEEEE;
}
th {
	margin: 0 auto;
    font-size: 18px;
}
td {
	margin: 0 auto;
    font-size: 18px;
}
