/*
 * Theme Information:
 *
 * Name: wast
 * Author: wastedziyun
 * Version: v0.0.2
 */

body {
    padding-top: 50px;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 0px;
    word-break: hyphenate;
    background-color: #53565c;
}

h1 {
    font-family: "Times New Roman", "PingFang SC", sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
}

h2 {
    font-family: "Times New Roman", "PingFang SC", sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
}

h3 {
    font-family: "Times New Roman", "PingFang SC", sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
}

p {
    font-family: "Times New Roman", "PingFang SC", sans-serif;
    color: white;
    font-size: 20px;
}

a:visited, a:link {
    color: white;
    font-weight: bold;
}

li {
    font-family: "Times New Roman", "PingFang SC", sans-serif;
    color: white;
    font-size: 20px;
}